// COLORS
$primary-color: #a8c0ff;
$secondary-color: #0f1bb9;
$third-color: #000046;
$fourth-color: #1CB5E0;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
